/* Resetting default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333333;
    line-height: 1.6;
}

/* Header styles */
header {
    background: linear-gradient(135deg, #706bff, #8cdbff);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fff; /* Change color on hover */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Add text shadow on hover */
}

/* Section styles */
section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

section p {
    font-size: 1.1em;
    margin-bottom: 40px;
}

/* Book genre cards */
.genre-card {
    background: linear-gradient(135deg, #ff6b6b, #ffb88c);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.genre-card:hover {
    transform: translateY(-5px); /* Add subtle hover effect */
}

.genre-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}

.genre-card p {
    font-size: 1.1em;
    color: #fff;
}

/* Footer styles */
footer {
    background: linear-gradient(135deg, #ff6b6b, #ffb88c);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 1.1em;
}

.book {
    width: 16rem;
    height: 20rem;
}/* Mobile styles */
.container {
    width: 100%;
}

/* Tablet styles */
@media screen and (min-width: 600px) {
    .container {
        max-width: 600px;
        margin: 0 auto; /* Center the container */
    }

    /* Adjust header styles */
    header h1 {
        font-size: 3em;
    }

    /* Adjust navigation styles */
    nav ul li a {
        font-size: 1.5em;
    }

    /* Adjust section styles */
    section h2 {
        font-size: 2.5em;
    }

    section p {
        font-size: 1.2em;
    }
}

/* Desktop styles */
@media screen and (min-width: 900px) {
    .container {
        max-width: 900px;
    }

    /* Adjust header styles */
    header h1 {
        font-size: 3.5em;
    }

    /* Adjust navigation styles */
    nav ul li a {
        font-size: 1.8em;
    }

    /* Adjust section styles */
    section h2 {
        font-size: 3em;
    }

    section p {
        font-size: 1.3em;
    }
}
